div{
    border: 0.5px solid blue;
}

.encabezadoIzquierdo{
    background:rgb(255, 228, 196);
}

.encabezadoDerecho{
  padding-top: 5px;
    background: rgb(169, 169, 169);
  text-align:center;
}

.izquierdo{
    background:rgb(224, 255, 255);
}

.centro{
    background: rgb(240, 128, 128);
}

.derecho{
    background: rgb(135, 206, 250);
}

.piePagina{
    background:rgb(142, 206, 142);
  padding-top: 15px;
  text-align: center;
}

.textoPiePagina{
  font-size: 0.8rem;
}
.btn-primary{
  background-color: pink !important;
  border-color: pink !important;
}
